@import './Variables';
@media only screen
and (min-device-width: 320px)
and (max-device-width: 965px)
and (-webkit-min-device-pixel-ratio: 2){



  h1 {
    font-size: 120px;
    margin: 20px;
  }

  h2 {
    font-size: 80px;
    margin: 20px;
  }

  .journalInput {
    background-color: $journal-background-color;
    font-family: $journal-entry-font;
    font-size: 40px;
    height: 50px;
    width: 80%;
    margin-left: 40px;
    margin-bottom: 35px;
}

  .saveButton, .btn-signout, .sub-list-submit-btn {
    background-color: $journal-background-color;
    padding: 5px 15px;
    font-family: $journal-entry-font;
    font-size: 40px;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
    &:hover {
      background-color: $journal-hover-color;
    }
  }

  .searchInput {
    background-color: $journal-background-color;
    font-family: $journal-entry-font;
    font-size: 40px;
    height: 50px;
    width: 80%;
    margin-left: 40px;
    margin-bottom: 75px;
    border: 1px solid;
  }

  .sub-list-input {
    font-family: $journal-entry-font;
    font-size: 50px;
    border: 1px solid;
    width: 50%;
  }

  .cyclerButton {
    font-size: 30px;
  }

  .taskItem {
    width: 90%;
    margin-left: 5vw;
    margin-bottom: 50px;
  }

  #taskValue {
    width: 70%;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 50px;
  }

  #sub-list {
    margin-left: 10px;
  }

  #sub-list-li {
    list-style: disc;
    margin: 5px 0 20px;
  }

  .completed-text {
    font-size: 50px;
    right: 63px;
    top: 63px;
  }

  .completeButton {
    top: 60px;
    height: 50px;
    width: 50px;
  }

  .deleteButton {
    font-size: 50px;
  }



  // TODO: add in SearchBar css

};
