@import './Variables';

@media screen and (max-width: 860px) {
  .sub-list-submit-btn, .deleteButton {
    background-color: $journal-background-color;
    position: inherit;
    padding: 5px 15px;
    font-family: $journal-entry-font;
    font-size: 20px;
    border: 1px solid;
    border-radius: 15px;
    &:hover {
      background-color: $journal-hover-color;
    }
  }

  .sub-list-buttons {
    width: 50%;
    margin-left: 42px;
    margin-top: 58px;
  }

  .completed-text {
    font-size: 20px;
    position: absolute;
    top: 34px;
    right: 49px;

  }

  .completeButton {
    position: absolute;
    top: 32px;
    right: 13px;
  }


}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 860px)
and (-webkit-min-device-pixel-ratio: 2){

  h1 {
    font-size: 120px;
    margin: 20px;
  }

  h2 {
    font-size: 80px;
    margin: 20px;
  }

  .journalInput {
    background-color: $journal-background-color;
    font-family: $journal-entry-font;
    font-size: 40px;
    height: 50px;
    width: 80%;
    margin-left: 40px;
    margin-bottom: 35px;
}

  .saveButton, .btn-signout {
    background-color: $journal-background-color;
    padding: 5px 15px;
    font-family: $journal-entry-font;
    font-size: 40px;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: $journal-hover-color;
    }
  }

  .sub-list-submit-btn, .deleteButton {
    background-color: $journal-background-color;
    position: inherit;
    padding: 5px 15px;
    font-family: $journal-entry-font;
    font-size: 50px;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 16px;
    margin-bottom: 10px;
    &:hover {
      background-color: $journal-hover-color;
    }
  }

  .searchInput {
    background-color: $journal-background-color;
    font-family: $journal-entry-font;
    font-size: 40px;
    height: 50px;
    width: 80%;
    margin-left: 40px;
    margin-bottom: 75px;
    border: 1px solid;
  }

  .sub-list-input {
    font-family: $journal-entry-font;
    font-size: 50px;
    border: 1px solid;
    width: 70%;
    margin-bottom: 16px;
  }

  .cyclerButton {
    font-size: 30px;
  }

  .taskItem {
    width: 90%;
    margin-left: 5vw;
    margin-top: 20px;
    margin-bottom: 42px;
  }

  #taskValue {
    width: 50%;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 50px;
  }

  .sub-list-buttons {
    width: 50%;
  }

  #sub-list {
    margin-left: 10px;
  }

  #sub-list-li {
    list-style: disc;
    margin: 5px 0 20px;
  }

  .completed-text {
    font-size: 50px;
    position: absolute;
    top: 178px;
    right: 195px;
  }

  .completeButton {
    position: absolute;
    top: 168px;
    right: 120px;
    height: 50px;
    width: 50px;
  }


};
