@import './Variables';
@import './mobile';

html {
  background-color: $journal-background-color;
}

h1 {
  font-family: 'Averia Libre', sans-serif;
  font-weight: 800;
  font-size: 55px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.completed {
  text-decoration: line-through;
}

h2 {
  font-family: $journal-entry-font;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.journalInput {
  background-color: $journal-background-color;
  font-family: $journal-entry-font;
  font-size: 20px;
  height: 25px;
  width: 60%;
  margin-left: 19%;
  margin-bottom: 30px;
  border-style: none;
  border-bottom: 1px solid black;
  &:focus {
    outline-style: none;
  }
}

.saveButton, .btn-signout, .sub-list-submit-btn {
  background-color: $journal-background-color;
  padding: 5px 15px;
  font-family: $journal-entry-font;
  font-size: 18px;
  border: 1px solid;
  border-radius: 15px;
  margin-left: 10px;
  &:hover {
    background-color: $journal-hover-color;
  }
}

.searchInput {
  background-color: $journal-background-color;
  font-family: $journal-entry-font;
  font-size: 20px;
  height: 30px;
  width: 60%;
  margin-left: 19%;
  margin-bottom: 20px;
  border: 1px solid;
}

.sub-list-input {
  background-color: $journal-background-color;
  font-family: $journal-entry-font;
  font-size: 20px;
  border: 1px solid;
}

.cyclerButton {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $journal-background-color;
  border: none;
  font-size: 15px;
  &:focus {
    outline-style:none;
  }
}

.taskItem {
  border-bottom: 1px solid black;
  width: 60%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 19vw;
  font-family: $journal-entry-font;
  margin-bottom: 10px;
}

#taskValue {
  width: 70%;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 50px;
}

#sub-list {
  margin-left: 10px;
}

.completed-text {
  position: absolute;
  right: 23px;
  top: 23px;
}

.completeButton {
  position: absolute;
  right: 0;
  top: 20px;
  border: 1px solid;
  height: 20px;
  width: 20px;
  background-color: $journal-background-color;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  border: 1px solid;
  padding: 0 5px;
  font-size: 15px;
  font-family: $journal-entry-font;
  background-color: $journal-background-color;
  &:hover {
    background-color: $journal-hover-color;
  }

}

.login {
  font-family: $header-font;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}

.loginButton {
  font-family: $journal-entry-font;
  font-size: 25px;
  padding: 10px;
  background-color: $journal-background-color;
  border: 1px solid;
  border-radius: 60px;
  &:hover {
    background-color: #ebe1a0;
  }
}
