@import './Variables';
@import './mobile';

html {
  background-color: $journal-background-color;
}

h1 {
  font-family: 'Averia Libre', sans-serif;
  font-weight: 800;
  font-size: 55px;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

h2 {
  font-family: $journal-entry-font;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.journalInput {
  background-color: $journal-background-color;
  font-family: $journal-entry-font;
  font-size: 20px;
  height: 25px;
  width: 60%;
  margin-left: 19%;
  margin-bottom: 30px;
  border-style: none;
  border-bottom: 1px solid black;
  &:focus {
    outline-style: none;
  }
}

.saveButton {
  background-color: $journal-background-color;
  padding: 5px 15px;
  font-family: $journal-entry-font;
  font-size: 18px;
  border: 1px solid;
  border-radius: 15px;
  margin-left: 10px;
  &:hover {
    background-color: $journal-hover-color;
  }
}

.searchInput {
  background-color: $journal-background-color;
  font-family: $journal-entry-font;
  font-size: 20px;
  height: 30px;
  width: 60%;
  margin-left: 19%;
  margin-bottom: 20px;
  border: 1px solid;
}

.cyclerButton, .completeButton {
  display: inline-block;
  background-color: $journal-background-color;
  border: none;
  &:focus {
    outline-style:none;
  }
}

li {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 20vw;
  font-family: $journal-entry-font;
}

.taskValue {
  font-size: 20px;
}

.completeButton {
  margin-left: 10px;
  border: 1px solid;
  height: 20px;
  width: 20px;
  background-color: $journal-background-color;
}

.login {
  font-family: $header-font;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}

.loginButton {
  font-family: $journal-entry-font;
  font-size: 25px;
  padding: 10px;
  background-color: $journal-background-color;
  border: 1px solid;
  border-radius: 60px;
  &:hover {
    background-color: #ebe1a0;
  }
}
